{% extends 'RUser/Header.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style7 {font-size: 18px}
        .style8 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF CAMPUS BEHAVIOR TYPE!!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="992" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4">ENTER DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter SID</div></td>
                                    <td width="200"><input type="text" name="Sid"></td>
                                    <td width="340" bgcolor="#FF0000"><div align="center" class="style4">Enter Certification_Course</div></td>
                                    <td width="273"><input type="text" name="Certification_Course"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter Gender</div></td>
                                    <td><input type="text" name="Gender"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter Department</div></td>
                                    <td><input type="text" name="Department"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter Height_CM</div>
                                    </div></td>
                                    <td><input type="text" name="Height_CM"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Select Weight_KG</div></td>
                                    <td><input type="text" name="Weight_KG"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter Tenth_Mark</div>
                                    </div></td>
                                    <td><textarea name="Tenth_Mark"></textarea></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter Twelth_Mark</div></td>
                                    <td><input type="text" name="Twelth_Mark"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter college_mark</div></td>
                                    <td><input type="text" name="college_mark"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style7 style2 style8">Enter hobbies</span></strong></div></td>
                                    <td><input type="text" name="hobbies"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter daily_studing_time</div></td>
                                    <td><span class="style4">
                                    <input type="text" name="daily_studing_time">
                                    </span></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4"><span class="style2">Enter</span> prefer_to_study_in</div></td>
                                    <td><input type="text" name="prefer_to_study_in"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style7 style2">Enter</span> degree_willingness </div></td>
                                    <td><input type="text" name="degree_willingness"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style8"><span class="style2">Enter</span> social_media_video</span></strong></div></td>
                                    <td><input type="text" name="social_medai_video"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style7 style2">Enter</span> Travelling_Time </div></td>
                                    <td><input type="text" name="Travelling_Time"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style8"><span class="style2">Enter</span> Stress_Level</span></strong></div></td>
                                    <td><input type="text" name="Stress_Level"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4"><span class="style7 style2">Enter</span> Financial_Status</div></td>
                                    <td><input type="text" name="Financial_Status"></td>
                                    <td bgcolor="#FF0000"><div align="center"><strong><span class="style8"><span class="style2">Enter</span> part_time_job</span></strong></div></td>
                                    <td><input type="text" name="part_time_job"></td>
                                  </tr>
                                  
                                  <tr>
                                    <td height="44" bgcolor="#FFFFFF">&nbsp;</td>
                                    <td><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>



                            </div>

              <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="844" height="71" border="0" align="center" >
                                    <tr><td width="609" bgcolor="#FF0000"><div align="center"><span class="style8 style6"><strong>PREDICTED CAMPUS BEHAVIOR TYPE </strong></span> <span class="style4">:: --&gt;</span> </div></td>



                                      <td width="225" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
					</form>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>